#spot-detail-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
}

#spot-detail-main * {
    max-width: 90vw;
}

/* top section */
#spot-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px
}

#spot-section>* {
    padding: 0px;
    margin: 0px;
}

#spot-header {
    display: flex;
    justify-self: start;
    font-size: 28px;
}

#spot-subheader {
    display: flex;
    flex-direction: row;

    height: 30px;
}

#spot-subheader>* {
    display: flex;
    align-items: center;

    padding-right: 5px;
    font-size: 14px;
}

#spot-star-icon {
    padding-right: 3px;
}

/* causes issue on front page of spots */
#spot-header-image {
    margin-top: 25px;
    object-fit: cover;
    border-radius: 10px;
}



/* ------------------------------------------------------------------------ */
#spot-line {
    border-bottom: 2px solid #f7f7f7;
    width: 100%;

    margin-top: 30px;
}



/* ------------------------------------------------------------------------ */

/* review section */
#review-section {
    max-width: 90vw;
    width: 100%;
}

#review-header {
    display: flex;
    flex-direction: row;
}

#review-header * {
    display: flex;
    align-items: center;

    padding-right: 5px;
    font-size: 20px;
}

#user-review {
    display: flex;
    flex-direction: column;
    margin: 10px;

}

#submit-review-button {
    height: 40px;
    padding: 30px;
    color: black;

}


#review-date {
    color: gray;
    font-size: small;
    margin-top: 3px;
}

#review-review {
    margin: 5px;
}

#delete-user-review {
    display: flex;
    margin: 10px;
    margin-left: 30px;
}

#other-reviews-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

#other-reviews {
    margin-bottom: 30px;
}
