.user-spots-main {
    margin: 10vw;
    margin-top: 100px;
}

.h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.listings {
    display: flex;
    flex-wrap: wrap;

}

.listing {
    margin: 15px;
}

.listing-name {
    margin-left: 10px;
}

.listing-address {
    margin-left: 10px;
    color: gray;
    font-weight: normal;
    font-size: small;
}

.listing-image {
    max-width: 300px;
}

.listing-image>* {
    border-radius: 10px;
    object-fit: cover;
}

.edit {
    margin-left: 5px;
}

.edit-button {
    margin: 3px;

}

.edit-button>* {
    color: black;
    text-decoration: none;
}

.delete {
    margin-left: 5px;
}

.delete-button {
    margin: 3px;
}
