/* Spots Section CSS */

.all-spots-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-left: 5vw;
    margin-right: 5vw;
}

.all-spots-main-container>* {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.all-spots-container {
    margin-top: 50px;
    width: 300px;
    height: 300px;
    padding: 12px;
    padding-bottom: 20px;

}

.all-spots-images {
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.spot {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: white;
}

.spot-image {
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.spot-image>* {
    border-radius: 10px;
    object-fit: cover;
}

.spot-description {
    max-height: 100px;
    padding: 10px;
}

.spot-price {
    padding-top: 5px;
}

.spot-price>* {
    font-family: 'Courier New', Courier, monospace;
}
