#signup-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

#signup-form {
    display: flex;
    flex-direction: column;

    border: 1px solid black;
    padding: 5px;
}

#signup-form > * {
    margin: 5px;
}
