Spots Section CSS
img {
    max-width: 100%;
    max-height: 100%;
}

.spots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;

}

.spots > * {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    margin: 5px;

    border: 1px solid black;
    background-color: red;
}

.spot {
    display: flex;
    justify-content: center;

    width: 300px;
    height: 400px;

    list-style: none;

    margin: 5px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.spot-inner-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;
    background-color: orange;
}

.spot-image{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 280px;
    height: fit;

    border: 1px solid black;
    background-color: yellow;
}

.spot-description {
    display: flex;
    justify-content: center;
    align-items: center;

    width: stretch;
    /* height: 40%; */

    border: 1px solid black;
    background-color: green;
}
