.header-right > * {
    list-style: none;
}

.fa-user-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 15px;

    border: none;
}

.fa-user-circle:hover {
    filter: drop-shadow(0 0 10px lightgray)
}

.profile-dropdown {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: white;

    padding: 10px;
    border: 5px solid black;


    top: 50px;
    right: 8vw;


}

.profile-dropdown-username {
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.profile-dropdown-email {
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}


.profile-dropdown > * {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 150px;
}

.manage-listings {
    margin-top: 6px;
    margin-bottom: 6px;
    border: none;
    background-color: white;

}

.manage-listings:hover  {
    background-color: rgb(228, 228, 228);

    border-radius: 10px;

}

.manage-listings > * {
    text-decoration: none;
    color: black;
}

.logout-button {
    border: none;
    background-color: white;
}

.logout-button:hover {
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
}
